extends ../../template

block content
    .container
        header(class="page-header")
            h1(class="block bg-green") Localização

        //- page-header

        .page-content
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum animi iusto, quae veniam recusandae sed delectus voluptatem natus nemo iure itaque labore nam ea quas fuga aperiam repellendus autem consequatur dolore dolor voluptates, libero tempora impedit similique. Laborum sunt, architecto laudantium. Nostrum hic, maiores quo perspiciatis veritatis nemo.

            div(class="maps-contato")&attributes({'data-iframe-height':'250px'}, {'data-iframe-width': '100%'}, {'data-iframe-src':'https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d14702.008968339947!2d-49.61537705!3d-22.8948389!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sbr!4v1438866914283'})