extends ../../template

block active
    -var currentUrl = "clientes"

block content
    .container
        header(class="page-header")
            h1(class="block bg-green") Clientes

        .page-content
            .row
                -for(var i=0; i<8; i++)
                    .col-sm-6.col-md-3
                        .item-internas
                            a(href="#", target="_blank")
                                figure(class="ilustracao")
                                    img(src="imagens/conteudo/img-387x387.jpg", alt="", title="", class='img-responsive img-thumbnail')

                                .dados
                                    h2 Nome do Serviço

        footer(class="page-footer text-center")
            include paginacao