extends ../../template

block active
    -var currentUrl = "formulario"

block content
    .container
        header(class="page-header")
            h1(class="block bg-green") Formulário

        .page-content
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita beatae, aliquid mollitia deserunt veritatis quibusdam maxime aliquam doloremque quae minima aspernatur corporis repudiandae molestias, temporibus veniam iusto alias saepe debitis. Laboriosam ipsum nemo sapiente iusto praesentium fugiat, sit. Suscipit ab, dolor doloremque cumque, sint officia consectetur pariatur, aut tenetur cupiditate vero, magni quod. Dolor eius numquam a facilis, eveniet, consequuntur? Dolorem porro eligendi eveniet accusamus ex voluptates id sapiente pariatur excepturi vitae officia quasi quas ea tenetur incidunt aliquam nostrum distinctio, sint cumque in. Consectetur, eaque fugiat sed nobis a molestias consequatur hic nulla perspiciatis voluptates amet dolor, nihil corporis necessitatibus eum dolorum quo magnam voluptatibus ut molestiae! Libero pariatur voluptates odit dolorem provident inventore, atque, reiciendis mollitia quaerat dolore quis cumque recusandae neque. Vel praesentium tenetur debitis, quae quo quidem aspernatur dicta impedit alias magnam dignissimos nulla vitae eos eaque esse iusto aut in omnis unde vero!

            .row
                .col-sm-6
                    form(id="", method="", action="")
                        .form-group
                            label(for="campo") Campo 1:
                            input(type="text", id="campo", class="form-control")

                        .form-group
                            label(for="campo") Campo 2:
                            input(type="text", id="campo", class="form-control")

                        .form-group
                            label(for="telefone") Campo 3:
                            input(type="text", id="telefone", class="form-control")

                        .form-group
                            label(for="campo") Campo 4:
                            input(type="text", id="campo", class="form-control")

                        .form-group
                            label(for="campo") Campo 5:
                            input(type="text", id="campo", class="form-control")

                        .form-group
                            label(for="campo") Campo 6:
                            input(type="text", id="campo", class="form-control")

                        .form-group
                            label(for="campo") Campo 7:
                            input(type="text", id="campo", class="form-control")

                        .form-group
                            label(for="campo") campo 8:
                            textarea(name="", rows="10", class="form-control")

                        input(type="submit", class="btn btn-custom btn-lg pull-right", value="Enviar")

                figure.col-sm-6.hidden-xs
                    img(src="imagens/conteudo/img-720x250.jpg", alt="", title="", class="img-responsive thumbnail")