extends ../../template

block active
    -var currentUrl = "institucional"

block content
    figure(class="topo-internas")
        img(src="../../imagens/institucional/bg-internas.jpg", alt="", class="img-responsive")

    .header-internas
        .container
            header(class="page-header")
                h1(class="color-white") Institucional

    .container
        .page-content
            figure(class="pull-left")
                img(src="imagens/conteudo/img-400x400.jpg", alt="", title="", class="img-responsive img-thumbnail", style="margin-right: 15px; margin-bottom: 15px;")
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel tenetur, distinctio! Quod ex ipsa aut atque velit molestias molestiae amet dicta repellat, ea eum, impedit, est quia aspernatur inventore fuga, facilis maiores. Laborum obcaecati minima consectetur cupiditate odit, praesentium distinctio accusantium assumenda. Inventore saepe, quae nobis unde, commodi voluptatibus iste, quam facere quibusdam neque dignissimos adipisci omnis quia voluptate, earum voluptas accusantium optio! Vitae perferendis repellat, excepturi nemo veritatis! Id laboriosam at aut nobis culpa necessitatibus rerum ipsa quis praesentium, architecto, quod, ex ratione aperiam dolor voluptatibus dicta quia officia. Architecto cumque iusto ipsa vero. Repellendus odit reiciendis cupiditate aliquam, et libero voluptate sit dolorum laudantium autem, dignissimos. Obcaecati ut provident recusandae ipsum unde doloribus, molestias similique cum officia ex odio, et tempora expedita, ea tenetur neque, vero excepturi. Earum esse laudantium possimus voluptas quae unde culpa perspiciatis alias, voluptatem. In vitae, dolorem ipsum explicabo alias fugiat dolore.
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel tenetur, distinctio! Quod ex ipsa aut atque velit molestias molestiae amet dicta repellat, ea eum, impedit, est quia aspernatur inventore fuga, facilis maiores. Laborum obcaecati minima consectetur cupiditate odit, praesentium distinctio accusantium assumenda. Inventore saepe, quae nobis unde, commodi voluptatibus iste, quam facere quibusdam neque dignissimos adipisci omnis quia voluptate, earum voluptas accusantium optio! Vitae perferendis repellat, excepturi nemo veritatis! Id laboriosam at aut nobis culpa necessitatibus rerum ipsa quis praesentium, architecto, quod, ex ratione aperiam dolor voluptatibus dicta quia officia. Architecto cumque iusto ipsa vero. Repellendus odit reiciendis cupiditate aliquam, et libero voluptate sit dolorum laudantium autem, dignissimos. Obcaecati ut provident recusandae ipsum unde doloribus, molestias similique cum officia ex odio, et tempora expedita, ea tenetur neque, vero excepturi. Earum esse laudantium possimus voluptas quae unde culpa perspiciatis alias, voluptatem. In vitae, dolorem ipsum explicabo alias fugiat dolore.