.navbar-categorias
    header
        button(class="navbar-toggle collapsed")&attributes({'data-target':'#category'}, {'data-toggle':'collapse'})
            i(class="fa fa-angle-down fa-2x")

        h3 Categorias


    nav(class="navbar-collapse collapse", id="category")
        .panel-category
            h4(class="name-category") Category

            ul(class="itens-category")
                li #[a(href="#") Category Name]
                li #[a(href="#") Category Name]
                li #[a(href="#") Category Name]
                li #[a(href="#") Category Name]
                li #[a(href="#") Category Name]
                li #[a(href="#") Category Name]

        //- REPETE

        .panel-category
            h4(class="name-category") Category

            ul(class="itens-category")
                li #[a(href="#") Category Name]
                li #[a(href="#") Category Name]
                li #[a(href="#") Category Name]
                li #[a(href="#") Category Name]
                li #[a(href="#") Category Name]
                li #[a(href="#") Category Name]

        //- REPETE