.navbar-header
    figure(class="logo")
        a(href="#")
            img(src="imagens/institucional/logo.png", alt="", title="", class="img-responsive")

    button(class="navbar-toggle collapsed")&attributes({'data-target':'#menu'}, {'data-toggle':'collapse'})
        i(class="line-bars")
        i(class="line-bars")
        i(class="line-bars")

        //- logo
    //- navbar-header