@mixin iframe-responsive($width,$height){
	position:relative;
	padding-bottom:($height / $width) * 100%;

	iframe{
		position:absolute;
		width:100%;
		height:100%;
		z-index:0;
	}
}

@mixin svg-responsivo($width,$height){
	position:relative;
	padding-bottom:($height / $width) * 100%;

	svg{
		position:absolute;
		width:100%;
		height:100%;
	}
}