.apresentacao{
    position: relative;
    z-index: 19;
    padding-top: 80px;
    padding-bottom: 40px;
    background: $bg-apresentacao;
    background-size: cover;

    p{
        font-family: "OpenSansRegular";
        font-size: 15px;
        color: rgba(#FFF, 1);
    }

    #carousel-apresentacao{
        margin-top: 80px;
    }
}