.banners{
    #carousel-banner{
        position: relative;

        .pager{
            position: absolute;
        }

        .carousel-indicators{
            position: absolute;
            margin-left: 0;

            @include large(){
                left: calc(50% + 500px);
                bottom: 50%;
                @include transform(translateY(50%));

                li{
                    display: block;
                    width: 22px;
                    height: 22px;

                    margin: 15px 0;
                    background: rgba(#FFF, 1);
                }

                .active{
                    border-color: $link-hover;
                    background: $link-hover;
                }
            }

            @include mobile(){
                .carousel-indicators{
                    li{
                        background: #FFF;
                    }
                    .active{
                        border-color: $link-hover;
                        background: $link-hover;
                    }
                }
            }
        }
    }
}